{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "DenyNonSeniors",
      "Effect": "Deny",
      "Principal": "*",
      "Action": "s3:*",
      "Resource": [
        "${bucket_arn}",
        "${bucket_arn}/*"
      ],
      "Condition": {
        "StringNotLike": {
          "aws:PrincipalArn": ${jsonencode(allowed_arns)}
        }
      }
    }
  ]
}
